.full-width {
  width: 100%
}

::ng-deep div.mat-form-field-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

::ng-deep button.mat-raised-button {
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

.center {
  text-align: center;
  float: right;
}

.mat-folder {
  background-color: yellow;
}

.mat-jumpto {
  background-color: rgb(0, 132, 255);
}

.mat-publish {
  background-color: rgb(41, 8, 152);
  color: #fff;
}
.mat-save {
  background-color: rgb(10, 121, 80);
  color: #fff;
}
.mat-policy {
  background-color: rgb(44, 167, 122);
  color: #fff;
}
.mat-config {
  background-color: rgb(206, 190, 21);
  color: #fff;
}
.align-elements {
  display: flex;
  gap: 1px;
  height: 45px;
}
::ng-deep div.align-elements mat-form-field div.mat-form-field-flex {
  height: 42px;
  font-size: 12px;
  margin-top: 4px;
}
::ng-deep mat-option.mat-autocomplete-option {
  line-height: 3em;
  height: 3em;
  font-size: 12px;
}
::ng-deep mat-icon.mat-icon-refresh {
  margin-left: -2px;
  cursor: pointer;
}
::ng-deep span.mat-icon-vertical {
  display: inline-grid;
  vertical-align: middle;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -4px;
  margin-bottom: 12px;
}

