<div mat-card-actions class="center" [hidden]="noBucket">
  <!-- <input hidden="true" type="file" multiple="multiple" (change)="download($event)"/> -->
  <input #uploadInput hidden="true" type="file" multiple="multiple" (change)="upload($event)"/>
  <button mat-raised-button *ngIf="ieamService.isLoggedIn()" color="accent" (click)="uploadInput.click()">Upload</button>
  <button mat-raised-button *ngIf="ieamService.isLoggedIn()" [color]="'folder'" (click)="folder()">Folder</button>
  <button mat-raised-button [color]="'jumpto'" (click)="jumpTo()">Filter</button>
</div>
<div mat-card-actions class="center" [hidden]="noneSelected">
  <button mat-raised-button *ngIf="ieamService.isLoggedIn()" (click)="delete()" color="warn" type="button">Delete</button>
  <button mat-raised-button *ngIf="ieamService.isLoggedIn()" (click)="changeAccess('public')" type="button">Public</button>
  <button mat-raised-button *ngIf="ieamService.isLoggedIn()" color="primary" (click)="changeAccess('private')" type="button">Private</button>
</div>
<div mat-card-actions class="center" [hidden]="!ieamService.offline">
  <button mat-raised-button color="warn" type="button">Offline</button>
</div>
<div mat-card-actions class="center" [hidden]="notEditor">
  <div class="align-elements">
    <mat-form-field appearance="fill" class="device-form-field" *ngIf="hasConfig()">
      <mat-label>Org</mat-label>
      <mat-select [(value)]="selectedOrg" name="server" required>
        <mat-option *ngFor="let org of orgs" [value]="org.id" (onSelectionChange)="onChange($event)">
          {{org.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button *ngIf="ieamService.isLoggedIn()" color="policy" (click)="loadRemotePolicy()">Remote Policy</button>
    <button mat-raised-button *ngIf="ieamService.isLoggedIn()" color="policy" (click)="loadPolicy()">Local Policy</button>
    <button mat-raised-button *ngIf="ieamService.isLoggedIn()" color="config" (click)="loadConfig()">Config</button>
    <button mat-raised-button color="save" type="button" (click)="save()" [disabled]="shouldDisenable()">Save</button>
    <button mat-raised-button color="publish" type="button" (click)="save()" [disabled]="shouldDisenable()">Publish</button>
  </div>
</div>

<div mat-card-actions class="center" [hidden]="notExchange">
  <div class="align-elements">
    <mat-form-field appearance="fill" class="device-form-field">
      <mat-label>Org</mat-label>
      <mat-select [(value)]="selectedOrg" name="exchange" required>
        <mat-option *ngFor="let org of orgs" [value]="org.id" (onSelectionChange)="onChange($event)">
          {{org.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
