<mat-toolbar class="mat-elevation-z8">
  <div class="toolbar-top-left">
    <button class="navbar-button" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="toggle(sidenav)">
      <mat-icon class="ieam-mat-icon" *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon class="ieam-mat-icon" *ngIf="sidenav.opened">
          close
      </mat-icon>
    </button>
    <div class="title-text">
      {{titleText}}
    </div>
  </div>
  <app-breadcrumb *ngIf="isBucket()"></app-breadcrumb>
  <app-buttons *ngIf="isBucket()"></app-buttons>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" (click)="toggle(sidenav)">

      <div class="nav-routes">
        <button mat-button class="menu-button" (click)="navigate(to.home)">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" (click)="navigate(to.bucket)" [disabled]="isLoggedIn()">
          <mat-icon>folder</mat-icon>
          <span>Bucket</span>
        </button>
        <button mat-button class="menu-button" (click)="navigate(to.editor)" [disabled]="isLoggedIn()">
            <mat-icon>edit</mat-icon>
            <span>Editor</span>
        </button>
        <button mat-button class="menu-button" (click)="navigate(to.signin)">
          <mat-icon>login</mat-icon>
          <span class="material-symbols-outlined" [innerText]="loginText()">
          </span>
        </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
