<mat-toolbar class="mat-elevation-z8">
  <div class="toolbar-top-left">
    <button class="navbar-button" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="toggle(sidenav)">
      <mat-icon class="ieam-mat-icon" *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon class="ieam-mat-icon" *ngIf="sidenav.opened">
          close
      </mat-icon>
    </button>
    <div class="title-text" [innerText]="ieamService.titleText">
    </div>
  </div>
  <app-breadcrumb *ngIf="isBucket()"></app-breadcrumb>
  <div *ngIf="isEditor()" [innerHtml]="filename"></div>
  <app-buttons *ngIf="showButtons()"></app-buttons>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" (click)="toggle(sidenav)">

      <div class="nav-routes">
        <button mat-button class="menu-button" (click)="navigate(to.home)">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" (click)="navigate(to.bucket)" [disabled]="!ieamService.loggedIn || true">
          <mat-icon>folder</mat-icon>
          <span>Bucket</span>
        </button>
        <button mat-button class="menu-button" (click)="navigate(to.editor)" [disabled]="!ieamService.loggedIn">
            <mat-icon>edit</mat-icon>
            <span>Editor</span>
        </button>
        <button mat-button class="menu-button" (click)="navigate(to.exchange)" [disabled]="!ieamService.loggedIn">
          <mat-icon>settings_inpuut-antenna</mat-icon>
          <span>Exchange</span>
        </button>
        <button mat-button class="menu-button" (click)="navigate(to.active)" [disabled]="!ieamService.loggedIn || true">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Active Files</span>
        </button>
        <button mat-button class="menu-button" (click)="login($event)">
          <mat-icon>{{lock}}</mat-icon>
          <span class="material-symbols-outlined" [innerText]="loginStatus">
          </span>
        </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
