<mat-toolbar class="mat-elevation-z8">
  <div class="toolbar-top-left">
    <button class="navbar-button" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="toggle(sidenav)">
      <mat-icon class="ieam-mat-icon" *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon class="ieam-mat-icon" *ngIf="sidenav.opened">
          close
      </mat-icon>
    </button>
    <div class="store-name" innerText="IEAM">
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" (click)="toggle(sidenav)">

      <div class="nav-routes">
        <button mat-button class="menu-button" (click)="navigate(to.editor)">
            <mat-icon>shopping_bag</mat-icon>
            <span>Editor</span>
        </button>
      </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
