.full-width {
  width: 100%
}

::ng-deep div.mat-form-field-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

::ng-deep button.mat-raised-button {
  margin-left: 2px;
  margin-right: 2px;
}

.center {
  text-align: center;
  float: right;
}

.custom-dialog-show {
  display: block;
}
