/* You can add global styles to this file, and also import other style files */
/* @import "~jsoneditor/dist/jsoneditor.min.css"; */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~jsoneditor/dist/jsoneditor.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.device-form-button {
  margin-right: 1px;
  padding-top: 10px;
  height: 36px;
  width: 65px;
}
