<h1 mat-dialog-title [innerHtml]="data.title"></h1>
<form #form="ngForm">
<div mat-dialog-content>
  <div [ngSwitch]="data.type">
    <div *ngSwitchCase="'folder'">
      <!-- <mat-radio-group [(ngModel)]="data.path">
          <mat-radio-button checked value="relative">Relative path</mat-radio-button>
          <mat-radio-button value="absolute">Absolute</mat-radio-button>
      </mat-radio-group> -->
      <mat-form-field appearance="outline" class="mat-dialog-input">
        <mat-label>{{data.options.placeholder}}</mat-label>
        <input matInput class="full-width" placeholder="{{data.options.placeholder}}" (ngModelChange)="isOK($event)"
        name="name" [(ngModel)]="data.options.name">
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'multiple'">
      <mat-form-field *ngFor="let option of data.options.extra; let i = index" appearance="outline" class="mat-dialog-input">
        <mat-label>{{option.placeholder}}</mat-label>
        <input matInput class="full-width" placeholder="{{option.placeholder}}" (ngModelChange)="isOK($event)"
        [(ngModel)]="option.name" [value]="option.name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'loader'">
      <mat-form-field appearance="outline" class="mat-dialog-input">
        <mat-label>{{data.options.placeholder || 'Type'}}</mat-label>
        <input
          type="text"
          matInput
          aria-label="Type"
          placeholder="Pick one"
          [formControl]="loaderControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="ieamService.optionDisplayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="onOptionChange($event)">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="device-form-button" (click)="ok()" [disabled]="notOK" cdkFocusInitial>{{data.options.okButton}}</button>
    <button mat-raised-button (click)="onNoClick()">{{data.options.cancelButton}}</button>
  </div>
  </div>
</form>
