<h1 mat-dialog-title>{{data.title}}</h1>
<form #form="ngForm">
<div mat-dialog-content>
  <div [ngSwitch]="data.type">
    <div *ngSwitchCase="'folder'">
      <!-- <mat-radio-group [(ngModel)]="data.path">
          <mat-radio-button checked value="relative">Relative path</mat-radio-button>
          <mat-radio-button value="absolute">Absolute</mat-radio-button>
      </mat-radio-group> -->
      <mat-form-field>
        <input matInput class="full-width" placeholder="{{data.options.placeholder}}" (ngModelChange)="isOK($event)"
        name="name" [(ngModel)]="data.options.name"
        >
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'loader'">
      <mat-form-field appearance="fill" class="device-form-field">
        <mat-label>Type</mat-label>
        <input
          type="text"
          matInput
          aria-label="Type"
          placeholder="Pick one"
          [formControl]="loaderControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="ieamService.optionDisplayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="ieamService.onOptionChange($event)">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="ok()" [disabled]="notOK" cdkFocusInitial>{{data.options.okButton}}</button>
  <button mat-raised-button (click)="onNoClick()">{{data.options.cancelButton}}</button>
</div>
</form>
