.mat-dialog-title {
  font-size: 12pt;
}

.mat-dialog-content {
  overflow: unset
}

::ng-deep div.mat-radio-label-content {
  padding-right: 15px;
}

::ng-deep div.align-elements mat-form-field div.mat-form-field-infix {
  width: 50%;
  padding-right: 2px;
}
